.title {
    
    color: #1b2d24;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

.Grafic Title {
    
    
    color: #1b2d24;
    font-family: 'Anton', sans-serif;
    text-align: center;
    
}