.FlagAndName {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.Map {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}


.Information {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}